@import views.html.helper._
@(userForm : Form[Users], message : String)

<html>

    <head>
        <title>Fill the details</title>
    </head>

    <body>

        <h2> @message </h2>

        @helper.form(action = routes.UserController.save() ){
            @helper.inputText( userForm("id") )

            @helper.inputText(userForm("firstname"))
            @helper.inputText(userForm("lastname"))
            @helper.inputText(userForm("age"))
            <input type="submit" value="create user">
            }
    </body>

</html>